<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-cdvshynavbar" version="0.0.1">
  <name>CDVShyNavBar</name>
  <description>Cordova CDVShyNavBar Plugin (Wrapper for TLYShyNavBar)</description>
  <license>Apache 2.0</license>
  <keywords>cordova,ios,navigationbar,tlyshynavbar,cdvshynavbar,shynavbar,navbar</keywords>
  <js-module src="www/CDVShyNavBar.js" name="CDVShyNavBar">
    <clobbers target="cdvshynavbar" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CDVShyNavBar">
        <param name="ios-package" value="CDVShyNavBar" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/TLYShyNavBar/TLYShyNavBar.h" target-dir="TLYShyNavBar"/>
    <header-file src="src/ios/TLYShyNavBar/TLYShyNavBarFade.h" target-dir="TLYShyNavBar"/>
    <header-file src="src/ios/TLYShyNavBar/TLYShyNavBarManager.h" target-dir="TLYShyNavBar"/>
    <source-file src="src/ios/TLYShyNavBar/TLYShyNavBarManager.m" target-dir="TLYShyNavBar"/>

    <header-file src="src/ios/TLYShyNavBar/Categories/NSObject+TLYSwizzlingHelpers.h" target-dir="TLYShyNavBar/Categories"/>
    <source-file src="src/ios/TLYShyNavBar/Categories/NSObject+TLYSwizzlingHelpers.m" target-dir="TLYShyNavBar/Categories"/>
    <header-file src="src/ios/TLYShyNavBar/Categories/TLYDelegateProxy.h" target-dir="TLYShyNavBar/Categories"/>
    <source-file src="src/ios/TLYShyNavBar/Categories/TLYDelegateProxy.m" target-dir="TLYShyNavBar/Categories"/>
    <header-file src="src/ios/TLYShyNavBar/Categories/UIScrollView+Helpers.h" target-dir="TLYShyNavBar/Categories"/>
    <source-file src="src/ios/TLYShyNavBar/Categories/UIScrollView+Helpers.m" target-dir="TLYShyNavBar/Categories"/>
    <header-file src="src/ios/TLYShyNavBar/Categories/UIViewController+BetterLayoutGuides.h" target-dir="TLYShyNavBar/Categories"/>
    <source-file src="src/ios/TLYShyNavBar/Categories/UIViewController+BetterLayoutGuides.m" target-dir="TLYShyNavBar/Categories"/>

    <header-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyChild.h" target-dir="TLYShyNavBar/ShyControllers"/>
    <header-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyParent.h" target-dir="TLYShyNavBar/ShyControllers"/>
    <header-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyScrollViewController.h" target-dir="TLYShyNavBar/ShyControllers"/>
    <source-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyScrollViewController.m" target-dir="TLYShyNavBar/ShyControllers"/>
    <header-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyStatusBarController.h" target-dir="TLYShyNavBar/ShyControllers"/>
    <source-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyStatusBarController.m" target-dir="TLYShyNavBar/ShyControllers"/>
    <header-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyViewController.h" target-dir="TLYShyNavBar/ShyControllers"/>
    <source-file src="src/ios/TLYShyNavBar/ShyControllers/TLYShyViewController.m" target-dir="TLYShyNavBar/ShyControllers"/>

    
    <header-file src="src/ios/CDVShyNavBar.h" />
    <source-file src="src/ios/CDVShyNavBar.m" />
  </platform>
</plugin>
